<div class="icon-container">
        <div class="icons" >
            <div *ngIf="!isTrashed">
                <button mat-button class="button" title="Remind me" >
                    <img src="../../../assets/takenote-icons/add_alert_black_24dp.svg">
                </button>
                <button mat-button class="button" title="Collaborator" >
                    <img src="../../../assets/takenote-icons/person_add_alt_black_24dp.svg">
                </button>
                <button mat-button class="button" title="Background options" [matMenuTriggerFor]="color" aria-label="Example icon-button with a menu">
                    <img src="../../../assets/takenote-icons/color_lens_black_24dp.svg">
                    <mat-menu #color="matMenu" >
                        <div class="col-option" >
                            <div *ngFor="let color of Colors" class="col-box">
                                <button mat-button class="col-btn" (click)="setColor(color)" [style.background]="color.code"></button>
                            </div>
                        </div>
                    </mat-menu> 
                </button>
                <button mat-button class="button" title="Image" *ngIf="!isTrashed">
                    <img src="../../../assets/takenote-icons/panorama_black_24dp.svg">
                </button>
                <button mat-button class="button" (click)="archiveNote()" title="Archive" *ngIf="!isArchived">
                    <img src="../../../assets/takenote-icons/archive_black_24dp.svg">
                </button>
                <button mat-button class="button" (click)="unArchiveNote()" title="Unarchive" *ngIf="isArchived">
                    <img src="../../../assets/takenote-icons/unarchive_black_24dp.svg">
                </button>
                <button mat-button class="button" [matMenuTriggerFor]="menu" title="More" >
                    <img src="../../../assets/takenote-icons/more_vert_black_24dp.svg">
                    <mat-menu #menu="matMenu" >
                        <button mat-menu-item (click)="moveToTrash()">Delete</button>
                        <button mat-menu-item  [matMenuTriggerFor]="label" >Add Label</button>
                        <button mat-menu-item>Make a copy</button>
                       
                    </mat-menu >
                    <mat-menu #label="matMenu" (click)='$event.stopPropagation()'>
                        <mat-card class="card">
                            <p>Label Note</p>
                            <input placeholder="label name" class="label-input" [(ngModel)]="labelname" (click)='$event.stopPropagation()'>
                            <button mat-menu-item type="submit" class="createbtn" (click)="addLabel(labelname)"><img src="../../../assets/label-icons/add_black_24dp.svg">Create</button>
                            <div *ngFor="let label of labelList">
                                <div>
                                    <mat-checkbox (click)="addExistingLabel(label)">{{label.labelName}}</mat-checkbox>
                                </div>
                            </div>
                        </mat-card>
                        <!-- <input placeholder="label name" class="label-input" [(ngModel)]="labelname" (click)='$event.stopPropagation()'>
                        <button mat-menu-item type="submit" class="createbtn" (click)="addLabel(labelname)"><img src="../../../assets/label-icons/add_black_24dp.svg">Create</button> -->
                        
                    </mat-menu>

                </button>
            </div>
            <div *ngIf="isTrashed">
                <button mat-button class="button" (click)="unTrash()" title="Restore" >
                    <img src="../../../assets/takenote-icons/restore_from_trash_black_24dp.svg">
                </button>
                <button mat-button class="button" (click)="deleteNote()" title="DeleteForever">
                    <img src="../../../assets/takenote-icons/delete_forever_black_24dp.svg">
                </button>
            </div>
        </div>   
        
</div>