.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // margin-top: 40px;
    // width: 50%;
    // height:70px;
    background-color: transparent;
    // margin-left: 300px;
    border: 0px solid rgba(224, 227, 227, 0.922);
    width: 280px;
}
.close-btn{
    display: flex;
    align-items: end;
    margin-right: 10px;
}
.button{
    width: 30px;
    height: 34px;
    // background: transparent;
    border: none;
    border-radius: 40%;
    padding: 0px;
    margin: 1px;
    min-width: 40px;
}
img{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    
}
.col-box{
  padding: 8px;
    
}
.col-option{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
.bgcolor-menu{
    display: flex;
    
}
.col-btn{
 border: none;
 width: 20px;
 height: 45px;
 border-radius: 50%;
 padding: 0px;
 margin: 0px;
}

// .bgcolor-menu{
//     min-width: 480px;
//     max-width: 580px;
// }
::ng-deep.mat-menu-panel {
    max-width: none !important;
  }
  .card{
    background-color: transparent;
    border: none;
    outline: none;
    width: 200px;
    
  }
.label-input{
    height: 40px;
    padding: 6px;
    border: none;
}
  .createbtn{
display: flex;
align-items: center;
}