<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="card">
        <div class="logo">
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="o1">o</span>
        </div>
        <h1 class="h1">Forgot Password ?</h1>
        <h2 class="toolbar">Use your fundoo account</h2>
        <form [formGroup]="forgotpasswordform" (ngSubmit)="OnSubmit()" fxLayoutAlign="stretch" fxLayout="column" class="main-form">
                <div class="email-feild ">
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>Email</mat-label>
                    <input  matInput placeholder="EmailId" formControlName="email" >
                    <mat-error *ngIf="forgotpasswordform.get('email')?.hasError('required')">Email is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="guest-text">
                    <p>Not your computer? Use as guest to sign in privately</p>
                    <a class="lernmore-text" href="#">Learn more</a>
                </div>
                <div class="next-button">
                    <button mat-raised-button type="submit" color="primary">Next</button>
                </div>
        </form>
    </mat-card>
</div>