<div class="layout">
    <div class="container">
        <div>
            <mat-toolbar class="toolbar" >
                <mat-toolbar-row style="background-color: white;">
                    <button mat-icon-button>
                        <mat-icon (click)="sidenav.toggle();" >
                        <img src="../../../assets/menu_black_24dp.svg"> 
                        </mat-icon>
                    </button>
                    <h1 >
                        <div class="main-header">
                            <span class="f">F</span>
                            <span class="u">u</span>
                            <span class="n">n</span>
                            <span class="d">d</span>
                            <span class="o">o</span>
                            <span class="o1">o</span>
                        </div>
                    </h1>
                    <div raised class="search-box">
                        <img class="search-icon" src="../../../assets/search_black_24dp.svg">
                        <input class="search-input" type="text" placeholder="Search" (keyup)="search($event)"> 
                        <span class="clear-icon" >
                            <button mat-button style="min-width: 30px;" class="clear-button ">
                                <img src="../../../assets/clear_black_24dp.svg">
                            </button>                            
                        </span>
                    </div>
                    <div class="other-icons">
                        <div>
                            <button mat-button class="button">
                                <img src="../../../assets/refresh_black_24dp.svg">
                            </button>
                        </div>
                        <div>
                            <button mat-button class="button">
                                <img src="../../../assets/dns_black_24dp.svg">
                            </button>
                        </div>
                        <div>
                            <button mat-button class="button">
                                <img src="../../../assets/settings_black_24dp.svg">
                            </button>
                        </div>
                        <div class="account-button">
                            <button mat-button  class="button" [matMenuTriggerFor]="menu">
                                <img src="../../../assets/account_circle_black_24dp.svg">
                                    <mat-menu #menu="matMenu">
                                    <!-- <button mat-menu-item >LogIn</button>                                     -->
                                    <button (click)="logOut()" mat-menu-item >LogOut</button>                                    
                                    </mat-menu>
                            </button>
                        </div>
                    </div>
                </mat-toolbar-row>  
            </mat-toolbar>
            
            <mat-sidenav-container>
                <mat-sidenav #sidenav opened="true" mode="side">
                    <mat-nav-list>
                        <!-- <button> <img class="list-icons" src="../../../assets/lightbulb_black_24dp.svg" >Notes</button> -->
                        <a mat-list-item routerLink="./note" class="icons"><img class="list-icons" src="../../../assets/lightbulb_black_24dp.svg">Notes</a>
                        <a mat-list-item class="icons"><img class="list-icons" src="../../../assets/notifications_black_24dp.svg">Reminders</a>
                        <a><app-get-labels mat-list-item ></app-get-labels></a>
                        <a mat-list-item class="icons" (click)="editlabel()"><img class="list-icons" src="../../../assets/edit_black_24dp.svg">Edit Labels</a>
                        <a mat-list-item routerLink="./archive" class="icons"><img class="list-icons" src="../../../assets/archive_black_24dp.svg">Archives</a>
                        <a mat-list-item routerLink="./trash" class="icons"><img class="list-icons" src="../../../assets/delete_black_24dp.svg">Bin</a> 
                        
                    </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content >
                    <div style="height:80vh; background-color: white;">
                        
                        <router-outlet> </router-outlet>
                        <!-- <app-takenote></app-takenote> -->
                        <!-- <app-demo></app-demo> -->
                        <!-- <app-getnotes></app-getnotes> -->
                        
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>