.layout{
    display: flex;
    justify-content: center;
    padding: 20px 10px 10px 10px;
    
}
.body-content{
    box-shadow: rgba(74, 73, 73, 0.653) 0px 2px 8px 0px;
    border-radius: 8px;
    background: #fff;
    
}
.outer-block{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: stretch;
}
.title-input{
    width: 300px;
    outline: none;
    border: none;
    margin-left: 10px;
}
.input{
    width: 380px;
    margin-left:3px ;
}
.form-div,.input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}
.takenote {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 14px 16px 12px 16px;
    font-size: 20px;
    width: 400px;
}
.titleInput{
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 14px 16px 12px 16px;
    font-size: 18px;
    width: 400px;
    margin-left: 10px;
}
.bottom{
    display: flex;
    align-items: center;
}
.button{
    width: 32px;
    height: 36px;
    background: transparent;
    border: none;
    border-radius: 40%;
    padding: 0px;
    margin: 1px;
    min-width: 51px;
}

