<div class="take-note-container">
    <div>
        <div class="title-bar">
            <input placeholder="Title" class="input">
            <button mat-button class="button"><img src="../../../assets/takenote-icons/push_pin_black_24dp.svg"></button>
        </div>
        <form class="form-container">
            
            <input style="font-size: 15px; "placeholder="Take a note ..." class="input">
            <button mat-button class="button"><img src="../../../assets/takenote-icons/brush_black_24dp.svg"></button>
            <button mat-button class="button"><img src="../../../assets/takenote-icons/check_box_black_24dp.svg"></button>
            <button mat-button class="button"><img src="../../../assets/takenote-icons/panorama_black_24dp.svg"></button>
        </form>
    </div>
</div>