<div *ngIf="condition; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div >
            <p>welcome to angular</p>
            <button (click)="show()">p</button>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div >
            <p>welcome to aaaaaaaaaaaa</p>
            <button (click)="hide()">p</button>
        </div>
    </ng-template>
    <!-- <div>
        <div *ngFor="let label of labelList">
            <div>{{label.labelName}}</div>
            <p>skfjasflsdfas</p>
        </div>
    </div> -->
    <!-- <app-updatelabel></app-updatelabel> -->
    <app-get-labels></app-get-labels>
   