<div class="main">
    <div class="sub1">
        <div>
            <input placeholder="input" [(ngModel)]="data">
            <button (click)="onSubmit(data)">add</button>
        </div>
        
        <div *ngFor="let item of list">
           <div>{{item}}</div>
        </div>
        <div style="margin-top: 20px;">
            <button (click)="change()">change from parent</button>
        </div>
        <div style="margin-top: 20px;">
            <button (click)="update()">Update</button>
        </div>
        <div *ngIf="isTrue"><p>after update child destroyed and view checked</p></div>
    </div>
    <app-demo2 *ngIf="showChild" [parentData]=num [inputData]=list></app-demo2>
</div>