.card{
    width: 500px;
    height: 400px;
}
.logo{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.f {
    color: rgb(9, 167, 229);
}

.u {
    color: red;
}

.n {
    color: yellow;
}

.d {
    color: rgb(9, 167, 229);
}

.o {
    color: green;
}

.o1 {
    color: red;
}

.form-content{
    place-content: stretch flex-start;
    align-items: stretch;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}

.h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
// .toolbar{
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 18px;
//     padding: 0px;
//     margin: 0px;
//     color: rgba(0,0,0,.65);
// }
.pass-field{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    
}
.next-button{
    display: flex;
    justify-content: end;
}